{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="alert alert-success" role="alert">
{{ 'resetting.check_email'|trans({'%email%': email}) }}
</div>
{% endblock %}
