{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST"
              class="fos_user_resetting_rese form-horizontal">

            {% set errors = form_errors(form.plainPassword.first) %}
            {% if errors is not empty %}
            <div class="alert alert-warning">
                {{ form_errors(form.plainPassword.first) }}
            </div>
            {% endif %}
            <div class="form-group">
                <label for="fos_user_resetting_form_plainPassword_first" class="col-sm-4 control-label">{{ 'form.new_password' | trans }}</label>
                <div class="col-sm-8">
                    <input type="password" id="fos_user_resetting_form_plainPassword_first" class="form-control login-password" placeholder="New password" name="fos_user_resetting_form[plainPassword][first]" required="required">
                </div>
                {#<div>{{ form_errors(form.new_password) }}</div>#}
            </div>

            <div class="form-group">
                <label for="fos_user_resetting_form_plainPassword_second" class="col-sm-4 control-label">{{ 'form.new_password_confirmation' | trans }}</label>
                <div class="col-sm-8">
                    <input type="password" id="fos_user_resetting_form_plainPassword_second" class="form-control login-password" placeholder="Verification" name="fos_user_resetting_form[plainPassword][second]" required="required">
                </div>
            </div>

            {{ form_widget(form._token) }}

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="submit" class="btn btn-default">{{ 'resetting.reset.submit'|trans }}</button>
                </div>
            </div>
        </form>
    </div>
</div>